.Header {
    background: rgb(190, 190, 244);
    width: 100%;
    height: auto;
    padding: 1% 2%;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.MenuContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.MenuItems {
    padding: 5px;
    color: black;
}

.MenuItems:hover {
    background-color: rgb(163, 163, 238);
    cursor: pointer;
}

/* Responsive media queries */

@media screen and (min-width: 470px) and (max-width: 1023px) {
    .Header {
        padding: 1% 5%;
    }

    .MenuItems {
        padding: 10px;
    }
}

@media screen and (max-width: 470px) {
    .Header {
        padding: 1% 2%;
        font-size: 1rem;
    }

    .MenuContainer {
        flex-direction: column;
        align-items: flex-start;
    }

    .MenuItems {
        padding: 10px 0;
    }
}
